
@{ ViewBag.Title = "Addemployee"; }
<center>
    <h2><b>Add New Employee</b></h2>
    <br />

    <form action="" method="post">
        <table>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    <input type="text" name="name" placeholder="type name" />
                </td>
            </tr>
            <tr>
                <td>
                    Username
                </td>
                <td>
                    <input type="Text" name="uname" placeholder="type user name" />
                </td>

            </tr>
            <tr>
            </tr>

            <td>
                Password
            </td>
            <td>
                <input type="Text" name="password" placeholder="type password" />
            </td>
            <tr>
                <td>
                    <br />

                    <button type="submit" name="Add" class="btn-success">
                        Add
                    </button>
                </td>
            </tr>
        </table>
    </form>
</center>

