
@{ ViewBag.Title = "Welcome"; }
<center>


    <h2>Welcome</h2>
    <table class="table-bordered" border="">

        <tr>
            <a href="/Admin/Addemployee" class="btn btn-success">Add Employee</a>
        </tr>
        <tr>
            <a href="/Admin/Checkreq" class="btn btn-info">Check Request</a>

        </tr>
        <tr>
            <a href="/Admin/Seehistory" class="btn btn-info">History</a>

        </tr>

    </table>
    <br />
    <br />
    <br />
    <br />
    <tr>
        

    </tr>
</center>





